{% extends 'codec/base.html' %}
{% load static %}
{% block content %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="main-container">
        <div class="select-container">
            <div class="single-select">
                <label for="technique" class="select-label">Codec Technique</label>
                <select class="form-select" name="technique" id="technique">
                    <option value="cyclic">Cyclic</option>
                    <option value="convolutional">Convolutional</option>
                    <option value="rs">Reed Solomon</option>
                </select>
            </div>
            <div class="single-select">
                <label for="scheme" class="select-label">Scheme</label>
                <select class="form-select" name="scheme" id="scheme">
                    <option value="encoding">Encoding</option>
                    <option value="decoding">Decoding</option>
                </select>
            </div>
        </div>
        <div class="button-container">
            <div class="mb-3 mt-4">
                <label for="codecFile" class="form-label select-label">Codec File</label>
                <input required class="form-control" type="file" id="codecFile" name="codecFile" accept=".txt">
            </div>
            <button type="submit" class="mt-4 submit-btn">Submit</button>

            <div class="grp-btn-container">
                <button type="button" class="grp-btn" data-bs-toggle="modal" data-bs-target="#membersModal">
                    Group Members
                </button>
            </div>
              
            <div class="modal fade" id="membersModal" tabindex="-1" aria-labelledby="membersModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="membersModalLabel">Group Members</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span class="me-3">1. </span>
                        <span class="me-3">201901450</span>
                        <span>Dhwanil Shah</span>
                    </div>
                    <div>
                        <span class="me-3">2. </span>
                        <span class="me-3">201901013</span>
                        <span>Nevilkumar Dalsania</span>
                    </div>
                    <div>
                        <span class="me-3">3. </span>
                        <span class="me-3">201901210</span>
                        <span>Yash Shah</span>
                    </div>
                    <div>
                        <span class="me-3">4. </span>
                        <span class="me-3">201901231</span>
                        <span>Dev Sanghvi</span>
                    </div>
                    <div>
                        <span class="me-3">5. </span>
                        <span class="me-3">201901263</span>
                        <span>Jeel Faldu</span>
                    </div>
                    <div>
                        <span class="me-3">6. </span>
                        <span class="me-3">201901232</span>
                        <span>Darshil Shah</span>
                    </div>
                    <div>
                        <span class="me-3">7. </span>
                        <span style="margin-right: 25px;">201901172</span>
                        <span>Nikhilkumar Patel</span>
                    </div>
                    <div>
                        <span class="me-3">8. </span>
                        <span class="me-3">201901282</span>
                        <span>Pratyaksha Maheshwari</span>
                    </div>
                    <div>
                        <span class="me-3">9. </span>
                        <span class="me-3">201901458</span>
                        <span>Keyur Champawat</span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}