{% extends 'codec/base.html' %}
{% load static %}
{% block content %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="main-container">
        <div class="select-container">
            <div class="single-select">
                <label for="technique" class="select-label">Codec Technique</label>
                <select class="form-select" name="technique" id="technique">
                    <option value="cyclic">Cyclic</option>
                    <option value="convolutional">Convolutional</option>
                    <option value="rs">Reed Solomon</option>
                </select>
            </div>
            <div class="single-select">
                <label for="scheme" class="select-label">Scheme</label>
                <select class="form-select" name="scheme" id="scheme">
                    <option value="encoding">Encoding</option>
                    <option value="decoding">Decoding</option>
                </select>
            </div>
        </div>
        <div class="button-container">
            <div class="mb-3 mt-4">
                <label for="codecFile" class="form-label select-label">Codec File</label>
                <input required class="form-control" type="file" id="codecFile" name="codecFile" accept=".txt">
            </div>
            <button type="submit" class="mt-5 submit-btn">Submit</button>
        </div>
    </div>
</form>

{% endblock content %}